html {
    min-height: 100%;
    background-image: url(../imgs/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* ul, li{
float:left;
margin:0 15px;
} */


