html {
    min-height: 100%;
    background-image: url(../imgs/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body{
    font-family: "Dongle", sans-serif;
}

.Footer {

    text-align: center;
    color: #CCCCCC;
    font-size: small;
    width: auto;
    border: 1px solid #D0D1D2;
    padding: 2% 0;
    line-height: 1.5;
}

.Main {

    height: 400px;
    width: auto;
    position: relative;
    border: 1px solid #bb11b2;
}
