html {
    min-height: 100%;
    background-image: url(../imgs/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chenla&family=Dongle:wght@300&display=swap');

body{
    font-family: "Dongle", sans-serif;
    min-height: 100vh;
}

header{
    min-height: 50px;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.Footer {
    min-height: 50px;
    font-family: "Nunito", sans-serif;;
    text-align: center;
    color: #CCCCCC;
    font-size: small;
    padding: 2% 0;
    line-height: 1.5;
}


