@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300display=swap');

html {
    min-height: 100%;
    background-image: url(/static/imgs/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

body{
    font-family: "Dongle", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    position: relative;
}





.NavList {

    margin: 0;
    padding-left: 16px;
    width: 50%;
    display: contents;
}



.Footer {
    min-height: 66px;
    text-align: center;
    color: #CCCCCC;
    font-size: 12px;
    padding-top: 29px;
    padding-bottom: 37px;
    line-height: 22px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;

}

.CathoLogo {
    display: flex; 
    align-items: center;

}

.FlexEndPositioning {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.VisibleMenu {
    color: #BCBF12;
    font-weight: bold;
    display: flex;
    align-items: center;
}



.VisibleMenu a {
    color: #BCBF12;
}

.SandwichButton {
    border: none;
    background-color: transparent;
    color: #BCBF12;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
}

.SandwichButton:hover{
    color: #B83870;
    cursor: pointer;
}

.HideMenu{
    display: none;
}

.ShowMenu{
    display: flex;
}

.HiddenMenu{
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
}

.HiddenMenu ul {
    display: flex;
    gap: 50px;
    padding-right: 12px;
}



.HiddenMenu a{
    color: #CCCCCC;
    text-decoration: underline;
}

a:hover {
    color: #B83870;
    text-decoration: none;
}

.MainContent{
    margin: 24px;
    flex: 1;
    margin-bottom: 8em;
    padding-top: 8px;
}

.Margins {
    margin: 16px 0;
}

.FlexContainer{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.AlignCenter {
    display:flex;
    align-items: center;
}
.RoundedEdges {
    border-radius: 8px;
}

.ColoredBackground{
    background-color:rgb(240, 241, 247);
}

.WhiteBackground{
    background-color: white;
}


.PaddingTopBotttom{
    padding: 8px ;
}

.PaddingLeftRight{
    padding: 0 8px;
}


.TextFormattingH4{
    color: #be056b;
    font-weight: 900;
}


.TextFormattingH5{
    color: #d4388e;
    font-weight: 600;
}

.Width {
    max-width: 600px;
    min-width: 400px;
}

.MarginLeftRight {
    margin-left: 8px;
    margin-right: 8px;
}

.Overflow {
    overflow: auto;
}

.Height {
    height: 138px;
}

.Borders {
    border-style: solid;
    border-color: #d4388e;
    border-width: 2px;
    text-align: center;
}

.InlineBlock {
    display: inline-block;
}

.HiddenMenuNavigationItem {
    
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.HiddenMenuNavigationItem a{
    color: #CCCCCC;
}

.HiddenMenuNavigationItem a:hover {
    color: #B83870;
    text-decoration: underline;
}








@media(max-width: 1023px) {

    .MobileMenu {
        top: 72px;
        width: 100%;
        justify-content: end;

        text-decoration: none;
    }
    .MobileMenu ul {
        color: #CCCCCC;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: end;
        padding-right: 32px;
    }

    .DisplayNoneOnSmallScreen {
        display: none;
    }

}

@media(min-width: 1024px) {
    .MobileMenu{
        display: none;
    }
    
    .HiddenMenuNavigationItem {

        display: none;
    }

}